<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Roboto', sans-serif;
        }
        div{
            border: 2px solid black;
            margin:auto;
            width :80%;
            height : 650px;
            border-radius: 15px;
            padding : 15px;
        }
        img{
            height: 260px;
            width: 260px;
            margin: auto;
            border-radius: 50px;
        }
        a{
            text-decoration: none;
            color: black;
            background-color: #4E9F3D;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 5px;
            
        }
        a:hover{
            background-color: #4d8a41;
        }
        input{
            padding: 5px;
            border-radius: 5px;
            position: absolute;
            right: 25%;
            width: 20%;
        }
        label{
            position: absolute;
            left: 25%;
            width : 20%;
        }
        
        select{
            margin-left: 31%;
            border:1px solid black;
            padding: 5px;
            border-radius: 5px;
            width:20%;
        }
        button{
            background-color: rgb(255, 123, 0);
            border-radius: 5px;
            margin:20px;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            border:0px;
        }
        button:hover{
            background-color: rgb(201, 99, 4);
        }
        
    </style>
</head>
<body>
    <div>
        <center>
        <img src="pro.jpg" alt="mypic">
        <br>
        <br>
        <form action="/edit" method="post">
        <label for="">name</label>
        <input type="text" value="<%= user.username %>" name="username">
        <br>
        <br>
        <label for="">phone</label>
        <input type="text" value="<%= user.phone %>" name="phone">
        <br>
        <br>
        <label for="">state</label>
        <input type="text" value="<%= user.state %>" name="state">
        <br>
        <br>
        <label for="">city</label>
        <input type="text" value="<%= user.city %>" name="city">
        <br>
        <br>
        <label for="">password</label>
        <input type="password" value="" name="password">
        <br>
        <br>
        <br>
        <br>
        <button type="submit">save</button>
    </form>
    </center>
    </div>
</body>
</html>