<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing | Node Auth</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <style>
      *{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin:3px,0px,3px,0px;
      }

      li {
        list-style: none;
        margin: 1rem;
        display: inline-block;
      }

      li a {
        color: #000;
        padding: 1rem;
        text-decoration: none;
        background: coral;
        border-radius: 12px;
      }
      div{
        border: 2px solid black;
        width :80vw;
        border-radius: 15px;
        margin:auto;
      }
    </style>
  </head>
  <body>
  <div>
    <ul class="nav">
      
      <li>
        <b><a href="/login">Login</a></b>
      </li>
      <li>
        <b><a href="/register">Register</a></b>
      </li>
    </ul>
  
    <h3>This is the Landing Page of The Website</h3>
  </div>
</body>
</html>
